{% extends "base.html" %}
{% block content %}

<div class="top-margin">
  <div class="front-div">
    <div class="logo-div">
    </div>
    <!-- Kaikki lomakkeen elementit form-tagin sisään -->
    <form method="post" action="{{base_path}}/login">
      <!-- Tekstikenttä käyttäjätunnukselle -->
      <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input name="username" class="form-control" value="{{attributes.username}}" type="text">
      </div>

      <!-- Salasanakenttä salasanalle -->
      <div class="form-group">
        <label>Salasana</label>
        <input name="password" class="form-control" type="password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Kirjaudu sisään</button>
      </div>
    </form> 
      <form method="get" action="{{base_path}}/rekisteroidy">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Rekisteröidy</button>
        </div> 
      </form>  
  </div>
</div>
{% endblock %}