{% extends "base.html" %}
{% block content %}

<div class="front-div">
  <div class="logo-div">
    Welcome To Blinder!
  </div>

  <h2>Kirjaudu sisään</h2>

  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
  <form>
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input class="form-control" type="text">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
      <label>Salasana</label>
      <input class="form-control" type="password">
    </div>

    <button type="submit" class="btn btn-success">Kirjaudu sisään</button>
    <button type="submit" class="btn btn-primary">Rekisteröidy</button>
  </form>
</div>
{% endblock %}