{% extends "base.html" %}
{% block content %}

<div class="front-div">
  <h2>Syötä tiedot:</h2>

  <form>
    <div class="form-group">
      <label>Käyttäjänimi</label>
      <input class="form-control" type="text">
    </div>
    <div class="form-group">
      <label>Salasana</label>
      <input class="form-control" type="password">
    </div>

    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" type="text">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Mies
      </label>
      <label>
        <input type="checkbox">
        Nainen
      </label>
    </div>
    <div class="form-group">
      <label>Syntymäaika</label>
      <input class="form-control" type="text">
    </div>
    <div class="form-group">
      <label>Kaupunki</label>
      <input class="form-control" type="text">
    </div>
    <div class="form-group">
      <label>Kuvaus</label>
      <textarea class="form-control"> </textarea>
    </div>

    <div class="checkbox">
      <label>Olen kiinnostunut</label>
      <label>
        <input type="checkbox">
        Naisista
      </label>
      <label>
        <input type="checkbox">
        Miehistä
      </label>
    </div>
    <div class="form-group">
      <label>Joiden ikä on väliltä</label>
      <input class="form-control" type="text">
      <label> ja </label>
      <input class="form-control" type="text">
    </div>
    <div class="form-group">
      <label>Kiinnostavimmat hastagisi</label>
      <textarea class="form-control"> </textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
</div>
{% endblock %}