#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

body {

    background-image: url("/tietokanta_ht/assets/Images/bg_pattern.jpg");
    background-size: 300px 300px;
}

.form-group {
  text-align: center;
  margin-right:auto;
  margin-left:auto;
  width: 30%;
}

.checkbox {
  text-align: center;
  margin-right:auto;
  margin-left:auto;
  width: 30%;

}

.logo-div {
	text-decoration: underline;
    -moz-text-decoration-color: white; /* Code for Firefox */
    text-decoration-color: white;
    font-size: 250%; 

  margin-right:auto;
  margin-left:auto;
  width: 300px;
  height: 200px;
  background-position:center;
  background-repeat:no-repeat;
  background-image: url("/tietokanta_ht/assets/Images/logo.png");
  background-size: 300px 200px;
}

.front-div {
  margin-right:auto;
  margin-left:auto;
	color: gray;
	opacity: 0.85;
}

.top-margin {
  margin: 150px 0 0 0;
}

.popup-bg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.account-popup {
  width: 60%;
  height: 60%;
  margin: 5% auto;
  background-color: rgb(255,255,255);
  border: 3px solid #888;
  overflow: hidden;

}

.account-popup-content {
  width: 60%;
  height: 80%;
  background-color: rgb(255,255,255);
  margin-top: 5%;
  margin-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
}

.account-popup-description {
    width: 100%;
    height: 80%;
    overflow: auto;
    border: 3px solid #888;
}

.account-popup-buttons {
  width: 100%;
  margin: 5% auto;
}

.close-popup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup-bg-pairs {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.account-popup-pairs {
  width: 60%;
  height: 60%;
  margin: 5% auto;
  background-color: rgb(255,255,255);
  border: 3px solid #888;
  overflow: auto;

}
