{% extends "base.html" %}
{% block content %}

  <div class="front-div">
    <h1>Rekisteröidy</h1>

  <form method="post" action="{{base_path}}/account/store">
      <div class="form-group">
        <label>username</label>
        <input name="username" class="form-control" value="{{attributes.username}}" type="text">
      </div>

      <div class="form-group">
        <label>password</label>
        <input name="password" class="form-control" type="password">
      </div>

      <div class="form-group">
        <label>name</label>
        <input name="name" class="form-control" value="{{attributes.name}}" type="text">
      </div>

      <div class="form-group">
        <label>Sex</label>
        <select class="form-control" value="{{attributes.sex}}" name="sex">
            <option value="1">Nainen</option>
            <option value="2">Mies</option>
        </select>
      </div>

      <div class="form-group">
        <label>age</label>
        <input name="age" class="form-control" value="{{attributes.age}}" type="text">
      </div>

      <div class="form-group">
        <label>location</label>
        <input name="location" class="form-control" value="{{attributes.location}}" type="text">
      </div>

      <div class="form-group">
        <label>description</label>
        <textarea name="description" class="form-control">{{attributes.description}}</textarea>
      </div>

      <div class="form-group">
        <label>intrested in</label>
        <select class="form-control" value="{{attributes.intrestedin}}" name="intrestedin">
            <option value="1">Nainen</option>
            <option value="2">Mies</option>
            <option value="3">Molemmat</option>
        </select>
      </div>

      <div class="form-group">
        <label>min age</label>
        <input name="minage" class="form-control" value="{{attributes.minage}}" type="text">
      </div>

      <div class="form-group">
        <label>max age</label>
        <input name="maxage" class="form-control" value="{{attributes.maxage}}" type="text">
      </div>

      <div class="form-group">
        <label>Hashtagit</label>
        <textarea name="hashtags" class="form-control">{{hashtags}}</textarea>
      </div>

      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Lisää kuvasi tähän.</p>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Rekisteröidy!</button>
      </div>
    </form>
  </div>
{% endblock %}