{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

  <h1>Käyttäjä:</h1>
            
  <p>
    <a href="{{base_path}}/accounts" class="btn btn-success">Näytä kaikki käyttäjät</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>username</th>
        <th>password</th>
        <th>name</th>
        <th>sex</th>
        <th>age</th>
        <th>location</th>
        <th>description</th>
        <th>intrestedin</th>
        <th>minage</th>
        <th>maxage</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for account in accounts %}
        <tr>
          <td>{{account.username}}</td>
          <td>{{account.password}}</td>
          <td>{{account.name}}</td>
          <td>{{account.sex}}</td>
          <td>{{account.age}}</td>
          <td>{{account.location}}</td>
          <td>{{account.description}}</td>
          <td>{{account.intrestedin}}</td>
          <td>{{account.minage}}</td>
          <td>{{account.maxage}}</td>
          <td>
            <!--
              {% if account.played %}
                <label class="label label-success">pelattu
              {% else %}
                <label class="label label-danger">kesken
              {% endif %} -->
          </td>
          <td><a class="btn btn-warning" href="{{base_path}}/account/{{account.id}}/edit">Muokkaa</a></td>
          <td>{{forms.destroy_button("#{base_path}/account/#{account.id}/destroy", "Poista")}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <button type="button" class="btn btn-primary" id="openFindPopup">etsi pareja</button>
    <button type="button" class="btn btn-primary" id="openBrowsePopup">selaa pareja</button>


<!-- FIND USER -->
  <div class="popup-bg" id="findUserPopup">
    <div class="account-popup">
       <span class ="close" id="close_find">&times;</span>

       {% for account in offeredaccounts %}
        <div class="account-popup-content">
          <div class="account-popup-description">
            <p> {{account.description}}</p>
            <p> {{account.name}} , {{account.location}}</p>
          </div>
          <div class="account-popup-buttons">
            <button type="button" class="btn btn-primary" id="like">like</button>
            <button type="button" class="btn btn-primary" id="dislike">dislike</button>
          </div>
        </div>
       {% endfor %}

        <div class="account-popup-content">
          <div class="account-popup-description">
            <p> Out of users ;((</p>
          </div>
        </div>
    </div>
  </div>
<!-- /FIND USER -->

<!-- SHOW MATCHES -->
  <div class="popup-bg-pairs" id="showMatchPopup">
    <div class="account-popup-pairs">
       <span class ="close" id="close_show">&times;</span>

       {% for pair in pairs %}
        <div class="account-popup-content">
          <div class="account-popup-description">
            <p> {{pair.description}}</p>
            <p> {{pair.name}} , {{pair.location}}</p>
          </div>
          <div class="account-popup-buttons">
            <a class="btn btn-primary" href="{{base_path}}/account/{{accounts[0].id}}/keskustelu/{{pair.id}}">Keskustele</a>
          </div>
        </div>
       {% endfor %}

        <div class="account-popup-content">
          <div class="account-popup-description">
            <p> End of pairs.</p>
          </div>
        </div>
    </div>
  </div>

    <script>
  var popup = document.getElementById('findUserPopup');
  var btn = document.getElementById("openFindPopup");
  var span = document.getElementById("close_find");

  var matchPopup = document.getElementById('showMatchPopup');
  var matchBtn = document.getElementById("openBrowsePopup");
  var matchSpan = document.getElementById("close_show");

  matchBtn.onclick = function() {
      matchPopup.style.display = "block";
  }
  matchSpan.onclick = function() {
      matchPopup.style.display = "none";
  }
  btn.onclick = function() {
      popup.style.display = "block";
  }
  span.onclick = function() {
      popup.style.display = "none";
  }
  window.onclick = function(event) {
      if (event.target == popup) {
          popup.style.display = "none";
      }
      if (event.target == matchPopup) {
          matchPopup.style.display = "none";
      }
      if(event.target.id == 'like' || event.target.id == 'dislike') {
        var parent = event.target.parentElement.parentElement;
        /* Do some crazy shit */
        parent.parentElement.removeChild(parent);
      }
  }
</script>
<!-- /SHOW MATCHES -->

{% endblock %}